@model Entity.ViewModel.OrderDetailsViewModel
@{
    Layout = "~/Views/Shared/_SecondLayout.cshtml";
    ViewData["Title"] = "OrderDetails";
}

<div class="row-11 d-flex align-items-center justify-content-center">
    <div class="row" style="width: 1000px;">
        <div class="text-Users-title my-3 mx-2 fs-2 col-6">
            Order-Details
        </div>
        <div class="col my-3 text-align-right">
            <button class="btn btn-primary" onclick="window.history.back()">
                Back
            </button>
        </div>
        <div class=" col-12 my-3 bg-white table-shadow p-2">
            <div class="row-12 d-flex w-100 align-items-center">
                <p class=" col-3 fs-4 ">Order Summary</p>
                <p class="order-status fs-5 col-2">@Model.Status</p>
                <div class="col-7 d-flex justify-content-end p-2">
                    <button class="row px-3 p-2 send-button export-button" onclick="exportOrderDetails(@Model.OrderId)">
                        <div class=" d-flex">
                            <i class=" fa-solid fa-file-export my-2"></i>
                            <p class=" my-1">Export</p>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    Invoice No :
                </div>
                <div class="col-1">
                    @Model.InvoiceNumber
                </div>
            </div>
            <div class="row w-100">
                <div class="col-2 w-auto">
                    Paid On:
                </div>
                <div class="col-1 w-auto">
                    @Model.PaidOn.ToString("yyyy-MM-dd HH:mm")
                </div>
                <div class="col-2 w-auto">
                    Placed On:
                </div>
                <div class="col-1 w-auto">
                    @Model.PlacedOn.ToString("yyyy-MM-dd HH:mm")
                </div>
                <div class="col-2 w-auto">
                    Modified On:
                </div>
                <div class="col-1 w-auto">
                    @(Model.ModifiedOn?.ToString("yyyy-MM-dd HH:mm") ?? "N/A")
                </div>
                <div class="col-2 w-auto">
                    Order Duration:
                </div>
                <div class="col-1 w-auto">
                    @Model.OrderDuration.ToString(@"hh\:mm")
                </div>
            </div>
        </div>
        <div class="col-6 bg-white table-shadow">
            <div class="row d-flex">
                <i class="fa-regular fa-user col"></i>
                <p>
                    Customer-Details
                </p>
            </div>
            <div class="row">
                <p class="col">Name: @Model.CustomerName</p>
            </div>
            <div class="row">
                <p class="col">Phone: @Model.Phone</p>
            </div>
            <div class="row">
                <p class="col">No. Of Person: @Model.NumberOfPersons</p>
            </div>
            <div class="row">
                <p class="col">Email : @Model.Email</p>
            </div>
        </div>
        <div class="col-6 bg-white table-shadow">
            <div>
                <i class="fa-solid fa-chair"></i>
                <p>
                    Table Details
                </p>
            </div>
            <div class="row">
                <p class="col">Table: @Model.TableName</p>
            </div>
            <div class="row">
                <p class="col">Section: @Model.SectionName</p>
            </div>
        </div>
        <div class="col-12 my-2 bg-white table-shadow">
            <p>Order Items</p>
            <div class="table-responsive row m-2">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col" class="text-black-50">Sr.no</th>
                            <th scope="col" class="text-black-50">Item</th>
                            <th scope="col" class="text-black-50">Quantity</th>
                            <th scope="col" class="text-black-50">Price</th>
                            <th scope="col" class="text-black-50">Total Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderItems)
                        {
                            <tr>
                                <td>
                                    @item.SrNo
                                </td>
                                <td>
                                    @item.ItemName
                                    @if (item.Modifiers.Any())
                                    {
                                        <ul>
                                            @foreach (var modifier in item.Modifiers)
                                            {
                                                <li>
                                                    @modifier.ModifierName
                                                </li>
                                            }
                                        </ul>
                                    }
                                </td>
                                <td>
                                    @item.Quantity
                                    @if (item.Modifiers.Any())
                                    {
                                        <ul>
                                            @foreach (var modifier in item.Modifiers)
                                            {
                                                <li>
                                                    @modifier.Quantity
                                                </li>
                                            }
                                        </ul>
                                    }
                                </td>
                                <td>
                                    @item.Price.ToString("0.00")
                                    @if (item.Modifiers.Any())
                                    {
                                        <ul>
                                            @foreach (var modifier in item.Modifiers)
                                            {
                                                <li>
                                                    @modifier.Price.ToString("0.00")
                                                </li>
                                            }
                                        </ul>
                                    }
                                </td>
                                <td>
                                    @item.TotalAmount.ToString("0.00")
                                    @if (item.Modifiers.Any())
                                    {
                                        <ul>
                                            @foreach (var modifier in item.Modifiers)
                                            {
                                                <li>
                                                    @modifier.TotalAmount.ToString("0.00")
                                                </li>
                                            }
                                        </ul>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="justify-content-end col">
                <p> SubTotal: @Model.SubTotal.ToString("0.00")</p>
                @foreach (var tax in Model.Taxes)
                {
                    <p> @tax.TaxName: @tax.TaxValue.ToString("0.00")</p>
                }
                <p> Total: @Model.TotalAmount.ToString("0.00")</p>
            </div>
        </div>
    </div>
</div>
